bench/*			linguist-documentation
lib/*			linguist-documentation
log/*			linguist-documentation
m4/*			linguist-documentation
static/*		linguist-documentation
install-sh  	linguist-documentation
config.guess	linguist-documentation
configure~		linguist-documentation
configure		linguist-documentation
compile			linguist-documentation
config.status	linguist-documentation
depcomp			linguist-documentation
libtool			linguist-documentation
ltmain.sh		linguist-documentation
missing			linguist-documentation
*.in			linguist-documentation
*.am			linguist-documentation
Makefile		linguist-documentation

*.py			linguist-detectable=true
*.c				linguist-detectable=true
*.h				linguist-detectable=true
