.*.swp
.*.swo
*.o
/dist/
/build/
/lib/
lib/
/log/
/conf/
/mnt/
/debug/*
/autom4te.cache/
/fly_server.egg-info/
/*.egg-info/
__pycache__/
/.pytest_cache/
/server
/fly/_fly_server.*
.deps/
.eggs/
.libs/
GPATH
GRTAGS
GTAGS
gdb.*
vgcore.*
*.log
config.status
configure.scan
/config.h
gdb.*
*~
*.crt
*.csr
*.key
*.lo
*.la
*.x
.deps
.libs
stamp-h1
Makefile
/src/Makefile
update
test_update
test_read.conf
fly_test.crt
fly_test.key
__fly_*
types.*
valgrind*
missing
libtool
install-sh
config.log
config.status
config.sub
depcomp
ltmain.sh
compile
config.guess
aclocal.m4
tests/mnt2
tests/mnt
!tests/mnt/*.html
ex.py
Pipfile*
