.*.swp
.*.swo
*.o
/dist/
/build/
/lib/
lib/
/log/
/conf/
/mnt/
/debug/*
/autom4te.cache/
/fly_server.egg-info/
__pycache__/
/.pytest_cache/
/server
/fly/_fly_server.*
GPATH
GRTAGS
GTAGS
gdb.*
vgcore.*
*.log
config.status
configure.scan
gdb.*
*~
*.crt
*.key
*.lo
*.la
.deps
.libs
stamp-h1
Makefile
update
test_update
