include *.md
include requirements.txt
include configure.ac
include fly.conf
include aclocal.m4
include configure
include config.sub
include config.guess
include compile
include depcomp
include depcomp
include install-sh
include ltmain.sh
include LICENSE
include Makefile.am
include Makefile.in
include libtool
include config.h
include config.h.in
include missing
graft m4
graft docs
graft src
graft fly
recursive-exclude fly.egg-info *
